body {
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "kumbh Sans";
}

.container {
    display: flex;
    height: fit-content;
    width: 59.375rem;
    background-color: white;
    border-radius: 1.5625rem;
    min-height: 33.75rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -560px -280px;
    justify-content: space-between;
}

.image-wrapper {
    position: relative;
}

.image-wrapper-inner {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 25rem;
    background-position: -80px 90px;
}


.box {
    position: absolute;
    left: -5.8125rem;
    top: 40%;
}

.FAQ {
    width: 27.5rem;
    margin: 4.6875rem 3.125rem .625rem 0;
}

.FAQ h1 {
    margin-bottom: 1.875rem;
}

.accordion-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-question p {
    color: hsl(237, 12%, 33%);
    margin: 1rem 0;
}

/* Making the question bold, which is in paragrah element.When we click the question */
.black p {
    font-weight: bold;
}

.accordion-question img {
    height: 7px;
    cursor: pointer;
}

.img:hover {
    filter: brightness(180%);
}

/*** Making the answer disappear. ***/
.accordion-answer {
    display: none;
}

/* Making the answer appear when the user has clicked the particular question. */
.accordion.active .accordion-answer {
    display: block;
    color: hsl(240, 6%, 50%);
    font-weight: lighter;
    font-size: .9375rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (max-width:750px) {
    body {
        height: 125vh;
    }

    .container {
        width: 22.5rem;
        min-height: 500px;
        position: relative;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: top center;
        flex-direction: column;
    }

    .image-wrapper {
        background-image: url(./images/illustration-woman-online-mobile.svg);
        background-position: top center ;
        background-repeat: no-repeat;
        width: 100%;
        height:182px;
        position: absolute;
        top:-110px
    }

    .image-wrapper-inner {
        background-image: none;
    }

    .box {
        display: none;
    }

    .FAQ {
        width: 22.5rem;
        padding: 1.5625rem;
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .FAQ h1 {
        text-align: center;
    }
}
